{% extends "base.html" %}
{% block title %}連動成功{% endblock %}
{% block content %}

<div class="container mt-4">
    <div class="alert alert-success shadow-sm" role="alert">
        <h2 class="alert-heading">服務連動成功！</h2>
        <p>感謝您訂閱「國北教大教育大數據微學程」Line Notify 服務，接下來您將會收到來自我們系統的通知。</p>
        <hr>
        <p class="mb-0">若您有任何問題，請隨時透過我們的社群媒體帳號（<a href="https://www.facebook.com/NTUEBIGDATAEDU" target="_blank" class="text-primary">Facebook</a>、<a href="https://www.instagram.com/ntue.bigdata/" target="_blank" class="text-danger">Instagram</a>）聯絡我們！</p>

        </div>
</div>
{% endblock %}
